// colores de texto
$textcolorprimary: #222222;
$textcolorsecundary: #eb7f00;
$textcolortertiary: #b5b0af;
$textcolorquaternary: white;
$textcolorcincotiary: #53504b;

// colores de bordes
$bordercolorprimary: #eb7f00;
$bordercolorsecundary: #aeaea5;
$bordercolortertiary: #ededed;

//colores de fondos
$colorfondoprimary: #222222;
$colorfondosecundary: #eb7f00;
$colorfondotertiary: #f8f5f4;
$colorfondofour: rgb(10, 234, 250);

//colores de iconos
$iconcolorprimary: #eb7f00;
$iconcolorsecundary: #aeaea5;
$iconcolortertiary: white;
