.viewsFormulario {
  .viewFormChilds,
  .viewFormChilds2 {
    background-color: $colorfondotertiary;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid $bordercolorsecundary;
    height: 100%;
  }
}
